*, *::before, *::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-text-size-adjust: 100%;
}

@media (max-width: 400px) {
    * {
        font-size: 3vw;
    }
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('./OpenSans-Light.ttf');
}

body {
    background: url('./back.jpg') center/100% 100% no-repeat;
    font-family: 'Open Sans';
    margin: 0;
}

.container {
    display: flex;
    flex-flow: column wrap;
    place-content: center space-between;
    height: 100vh;
    width: 100vw;
}

.nav-bar {
    width: 100%;
    background-color: rgba(95, 86, 108, 0.5);
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 0;
}

.nav-bar ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    place-content: center center;
    flex: 1 1 0;
}

.nav-bar ul li {
    margin: 0 0.7rem;
}

.nav-bar ul li a {
    text-decoration-line: none;
    color: white;
}

.nav-bar ul li a:hover {
    color: red;
    transition: all 0.5s ease-in-out;
    text-decoration-line: underline;
    font-size: 1.5rem;
}

main {
    width: 100%;
    flex: 15 1 0;
    display: -webkit-flex;
    display: flex;
    place-content: center center;
}

.home {
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
    margin-top: 10rem;
    align-self: flex-start;
}

.home p {
    font-size: 3rem;
    border-top: solid 1px red;
    border-bottom: solid 1px red;
    padding: 15px 0;
}

.home p::after {
    /* content: " 😜"; */
    content: " 😊";
}

.home button {
    align-self: center;
    width: max-content;
    height: max-content;
    background-color: black;
    color: white;
    border: ridge 1mm red;
    font-size: 1.3rem;
    font-family: inherit;
    border-radius: 30px 0px 30px 0px / 15px 0px 15px 0px;
    padding: 10px;
}

.home button:hover {
    color: red;
    transition: padding 1s ease-out;
    padding: 20px;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    place-content: normal center;
    align-items: flex-start;
    transition: all 1s ease-out;
}

article {
    flex: 1 1 0;
    margin: 4rem 2rem 0 2rem;
    max-height: 40%;
    max-width: 30%;
    border: 1px brown solid;
    border-radius: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
}

article img {
    --some-length: 50%;

    max-height: var(--some-length);
    max-width: var(--some-length);
    flex: 1 1 0;
}

article h1 {
    font-weight: bold;
}

article h1, p {
    color: white;
}

footer {
    background-color: brown;
    width: 100%;
    height: 10%;
    flex: 1 1 0;
}

footer p {
    margin-left: 1rem;
}