@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('./OpenSans-Light.ttf');
}

body {
    background: url('./back.jpg') center/100% 100% no-repeat;
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 0;
}

.container {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh
}

.nav-bar {
    height: 75px;
    background-color: rgba(95, 86, 108, 0.5);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center
}

.nav-bar ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    place-content: center center;
    flex: 1 1 0;
}

.nav-bar ul li {
    margin: 0 0.7rem;
}

.nav-bar ul li a {
    text-decoration-line: none;
    color: white;
}

.nav-bar ul li a:hover {
    color: red;
    transition: all 0.5s ease-in-out;
    text-decoration-line: underline;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    flex-wrap: wrap;
}

.home {
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
    margin-top: 10rem;
    align-self: flex-start;
}

.home p {
    font-size: 3rem;
    border-top: solid 1px red;
    border-bottom: solid 1px red;
    padding: 15px 0;
}

.home p::after {
    /* content: " 😜"; */
    content: " 😊";
}

.home button {
    align-self: center;
    width: max-content;
    height: max-content;
    background-color: black;
    color: white;
    border: ridge 1mm red;
    font-size: 1.3rem;
    font-family: inherit;
    border-radius: 30px 0px 30px 0px / 15px 0px 15px 0px;
    padding: 10px;
}

.home button:hover {
    color: red;
    transition: padding 1s ease-out;
    padding: 20px;
}

.menu {
    /* display: flex;
    flex-flow: row wrap;
    place-content: normal center;
    align-items: flex-start;
    transition: all 1s ease-out; */

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 40px 10px;
    transition: all 1s ease-out;
    gap: 40px;
}

article {
    height: 400px;
    width: 250px;
    border: 1px brown solid;
    border-radius: 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 0.9em;
}

article img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

article div {
    padding: 0 5px;
}

article h1 {
    font-weight: bold;
}

footer {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

@media screen and (max-width: 400px) {

    .home {
        padding: 0 10px;
    }

    .menu {
        grid-template-columns: repeat(1, 1fr);
        padding: 40px 10px;
        gap: 40px;
    }
}